.parent {
  position: absolute;
  width: 100%;
  height: 100%;
}
  .back{
    max-width: 800px;
    margin: auto;
    border-radius: 15px;
    background-color: var(--lightText);
    background: rgba(7225, 223, 233, 0.7);
    height: 77vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5vh;
  }
  .back {
    max-width: 800px;
    margin: auto;
    border-radius: 15px;
    background-color: var(--lightText);
    background: rgba(7225, 223, 233, 0.7);
    height: 77vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5vh;
  }
  .form {
    border-radius: 15px;
    width: 90%;
    height: 80%;
    background-color: var(--lightText);
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
  }
  .header {
    color: var(--icon);
    font-size: 1.1rem;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
   margin-top: -25px;
  }
  .error {
    font-size: 0.7rem;
    text-align: center;
    color: red;
    font-weight: 700;
  }
  .normal {
    outline: none;
    border: 2px solid var(--mediumtext);
  }
  .valid {
    outline: none;
  
    border: 2px solid var(--valid);
  }
  .invalid {
    outline: none;
  
    border: 2px solid var(--invalid);
  }
  .gender{
    text-align: center;
  }