* {
  --dark: #8739f9;
  --light: #94d5f1;
  --white: #f2f5f5;
  --darktext: #565360;
  --mediumtext: #908e9b;
  --lightText: #e1dfe9;
}
input{
  border: none;
  border-radius: 10px;
}
label{
  margin: 5px;
}
input:focus{
  outline: 1px solid var(--dark);
}
.main {
  background-color: var(--white);
  width: 100vw;
  color: var(--darktext);
  font-weight: 700;
  height: 100vh;
  background-color: var(--lightText);
}

.content {
  margin: 0 auto;
  border: none;
  width: 80vw;
  min-width: 320px;
  max-width: 450px;
  display: flex;
  flex-direction: column;
}
.fullname{
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.contact{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  margin: auto;
}
.email{
  width: 70%;
  margin: auto;
}
.form {
  width: 100%;
}

.drop {
  position: relative;
}
.menu {
  position: absolute;
  list-style-type: none;
  margin: 5px 0;
  padding: 0;
  width: 100vw;
  max-width: 320px;
  height: 40vh;
  max-height: 650px;
  border: none;
  overflow: hidden;
  overflow-y: scroll;
}
.menu > li {
  width: 90vw;
  max-width: 100%;
  min-width: 320px;
  height: 40px;
  background-color: var(--light);
  border-radius: 15px;
  margin-top: 2px;
  display: flex;
  color: #2c0468;
  justify-content: space-around;
}

.menu > li > button {
  width: 60px;
  height: 40px;
  background: none;
  margin: 0;
  border: none;
}

.name {
  width: 150px;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

.flag {
  width: 100%;
  height: 90%;
  display: flex;
}
.dropBtn {
  width: 200px;
  height: 50px;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 15px;
  border: none;
  background-color: var(--white);
  color:var(--darktext)
}
.code {
  width: 50px;
  height: 40px;
  margin: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: 800;
  font-size: 0.9rem;
}

::-webkit-scrollbar {
  display: none;
}

.number {
  margin: auto;
  min-width: 250px;
  max-width: 450px;
  height: 200px;
}
.number > label > h5 {
  margin: 10px auto;
  text-align: center;
  font-size: 1rem;
}

.selected {
  height: 50px;
  width: 50px;
  margin-left: 5px;
}
.input {
  background-color:var(--white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
}
.numberInput {
  height: 30px;
  border: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
