.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #bdffe9;
}
.logo {
  width: 50%;
}
.logo > img {
  max-width: 200px;
  max-height: 180px;
}
.icons {
  width: 50%;
  font-size: 2rem;
  display: flex;
  justify-content: space-evenly;
}
.icons>div>input{
    width: 20vw;
}
.icons>div>input:focus{
    width: 20vw;
    outline: none;
}
.searchbar{
    display: flex;
}
.searchbar>input{
    border: none;
    border-radius: 10px;
}
.icons>button{
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
  color: #220235;
}
.searchbar>button{
   margin-left: -24px;
   cursor: pointer;
   border: none;
   background: none;
}

.popup{
  position: absolute;
 z-index: 1;
  width: 60vw;
  min-width:250px;
  max-width: 400px;
  margin-left: -50vw;
  height: 30vh;
  max-height:350px;
}