.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e0e6b0;
}
.logo {
  width: 50%;
}
.logo > img {
  max-width: 200px;
  max-height: 180px;
}
.icons {
  width: 50%;
  font-size: 2rem;
  display: flex;
  justify-content: space-evenly;
}
.icons>div>input{
    width: 20vw;
}
.searchbar{
    display: flex;

}
.searchbar>button{
   margin-left: -24px;
   cursor: pointer;
   border: none;
   background: none;
}

