.login {
  width: 90%;
  max-width: 700px;
  margin: auto;
  border-radius: 15px;
  background-color: var(--lightText);
  background: rgba(7225, 223, 233, 0.7);
  height: 73vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form {
  border-radius: 15px;
  width: 90%;
  height: 80%;
  background-color: var(--lightText);
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}
.error {
  font-size: 0.7rem;
  text-align: center;
  color: red;
  font-weight: 700;
}

.form > label {
  margin-top: 20px;
  text-align: center;
}



.form > input,
.passwordDiv  > input {
  font-weight: 700;
  width: 90%;
  margin: 0px auto;
  min-width: 240px;
  max-width: 250px;
  border-radius: 17px;
  border: 1px solid red;
  height: 25px;
  background-color: #fff6df93;
}

.normal {
  border: 2px solid var(--mediumtext);
}
.valid {
  border: 2px solid var(--valid);
}
.invalid {
  border: 2px solid var(--invalid);
}

.passwordDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.showhide {
  width: 30px;
  margin-left: 210px;
  margin-top: -35px;
  font-size: 1.7rem;
  color: darkolivegreen;
}



.submit{
  width: 90%;
  max-width: 140px;
  margin:5vh auto;
  height: 40px;
  box-shadow: 1px 3px 3px 4px #abcdef;
  background-color: var(--icon);
  color: var(--lightText);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family:monospace;
}
.heading {
  text-align: center;
  margin: 0;
  margin-top: 35px;
  color: var(--icon);
  font-size: 1.7rem;
  font-weight: 800;
  font-family:Arial, Helvetica, sans-serif;
  background-color: #FFF5EE;
  background-color: var(--lightText);
}
.transfer{
margin: 0;
color: var(--icon);
}
.transfer>span>a{
  font-weight: 700;
}