*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section > p {
  font-size: 1.5rem;
  color: #220235;
  font-weight: 600;
  margin-top: 1vh;
}
.sign, .login {
  background-color: #220235;
  color: #ece0e8;
  width: 80%;
  height: 50px;
  border: none;
  text-align: center;
  font-size: 1.3rem;
  font-family: monospace;
  border-radius: 25px;
}
.section  {
  display: grid;
  place-items: center;
  grid-template-rows: 35% 45% 5%;
}
.section{
  height: 100%;
  background-color:#ece0e8f8;
  border-radius: 30px;
}
.section>a, .section>button:hover{
  cursor: pointer;
  opacity: 0.8;
}

.loginPage{
  position: absolute;
  margin-top: 400px;
}
.signupPage{
  position: absolute;
  margin-top: 535px;
}
