* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  * {
    --dark: #8739f9;
    --light: #94d5f1;
    --white: #f2f5f5;
    --darktext: #565360;
    --mediumtext: #908e9b;
    --lightText: #e1dfe9;
  }
}
.section > p {
  font-size: 1.5rem;
  color: #220235;
  font-weight: 600;
  margin-top: 1vh;
}
.sign,
.login {
  background-color: #220235;
  color: #ece0e8;
  width: 80%;
  height: 50px;
  border: none;
  text-align: center;
  font-size: 1.3rem;
  font-family: monospace;
  border-radius: 25px;
}
.section {
  display: grid;
  place-items: center;
  grid-template-rows: 35% 45% 5%;
}
.section {
  height: 100%;
  background-color: #ece0e8f8;
  border-radius: 30px;
}
button:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* Styling popups */
.loginPage {
  position: absolute;
  margin-top: 500px;
  width: 90vw;
  background-color: #88bdbc;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  max-width: 720px;
}

input {
  border: none;
  font-weight: 700;
  width: 80%;
  margin: 0px auto;
  max-width: 250px;
  border-radius: 15px;
  height: 25px;
  background-color: #fff6df93;
}
label {
  font-family: sans-serif;
  margin-top: 5vh;
  font-size: 1.2rem;
  margin-bottom: 1vh;
  font-weight: 600;
  color: var(--darktext);
}
input:focus {
  outline: 1px solid #d8c3a5;
}
input,
label {
  display: block;
  text-align: center;
}
label {
  margin-top: 25px;
  margin-bottom: 5px;
}
.icon {
  width: 100%;
  border-radius: 55px;
  height: 7vh;
  min-height: 30px;
  max-height: 50px;
  border: 1px solid #d8c3a5;
}

.error {
  color: red;
  position: absolute;
  font-size: 1rem;
  text-align: center;
  width: 100%;
  font-weight: 700;
}
.succes {
  width: 100%;
  height: 100vh;
  position: absolute;
  margin-top: -80vh;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  color: #220235;
  text-align: center;
  font-size: 3rem;
  justify-content: space-evenly;
  border-radius: 20px;

}
.succes>button{
  background-color: #220235;
  color: var(--white);
  height: 50px;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 20px;
}
