.login {
  width: 100%;
  max-width: 700px;
  margin: auto;
  border-radius: 15px;
  background-color: var(--lightText);
  background: rgba(7225, 223, 233, 0.7);
  height: 73vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
}
.form {
  border-radius: 15px;
  width: 90%;
  height: 80%;
  background-color: var(--lightText);
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;

}
.error {
  font-size: 0.7rem;
  text-align: center;
  color: red;
  font-weight: 700;
}

.form>label, .form>div>label{
  font-size: 1.1em;
  font-weight: 500;
}



.form > input,
.passwordDiv  > input {
  font-weight: 700;
  width: 90%;
  margin: 0px auto;
  margin-bottom: 20px;
  min-width: 240px;
  max-width: 250px;
  border-radius: 17px;
  padding: 5px;
  background-color: #fff6df93;
}

.normal {
  outline: none;
  border: 2px solid var(--mediumtext);
}
.valid {
  outline: none;

  border: 2px solid var(--valid);
}
.invalid {
  outline: none;

  border: 2px solid var(--invalid);
}

.passwordDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.showhide {
  width: 30px;
  margin-left: 210px;
  margin-top: -54px;
  font-size: 1.7rem;
  color: darkolivegreen;
}

.submit{
  width: 90%;
  max-width: 140px;
  margin:5vh auto;
  height: 40px;
  box-shadow: 1px 3px 3px 4px #abcdef;
  background-color: var(--icon);
  color: var(--lightText);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family:monospace;
  border-radius: 15px;
}
.heading {
  text-align: center;
  color: var(--icon);
  font-size: 1.7em;
  font-weight: 800;

}

.transfer>span>a{
 
  font-weight: 700;

}
.transfer{
  margin-top: 15px;
}