.footer {
  color: #220235;
  display: flex;
  justify-content: center;
  height: 10%;
  margin-top: 90vh;
  background-color: #92d6a7;
}
.footer>h4>a{
    text-decoration: none;
    border-bottom: 2px solid var(--darktext);
    border-bottom-right-radius: 5px;
    color:#220235;
}

