/* .btn{
    display: flex;
    margin:  auto;
    justify-content: center;
    padding: 15px 0 15px 0;
  }
  .sign{
    background-color: var(--lightText);
    width: 90vw;
    max-width: 720px;
    color: var(--darktext);
    font-weight: 700;
    max-height:720px ;
    border-radius: 25px;
    margin-top: 10vh;
  }
  
   */