* {
  --dark: #8739f9;
  --light: #94d5f1;
  --white: #f2f5f5;
  --darktext: #565360;
  --mediumtext: #908e9b;
  --lightText: #e1dfe9;
  --valid: #3c7218;
  --invalid: #b40e0e;
  --icon: #220235;
}
::placeholder {
  color: var(--darktext);
}
::-webkit-scrollbar {
  display: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.parent {
  position: absolute;
  width: 100%;
  height: 100%;
}
.heading {
  color: var(--icon);
  font-size: 1.2rem;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}
.back {
  max-width: 800px;
  margin: auto;
  border-radius: 15px;
  background-color: var(--lightText);
  background: rgba(7225, 223, 233, 0.7);
  height: 77vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5vh;
}
.form {
  border-radius: 15px;
  width: 90%;
  height: 80%;
  background-color: var(--lightText);
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}
label {
  margin-top: 20px;
  font-size: 1.1em;
  color: #140202;
  font-weight: 500;
  margin-bottom: 5px;
}

.number {
  border: 1px solid red;
}

.form > div > input,
.form > div > div > input,
.form > div > div > div > input,
.form > div > div > div > div > input,
.form > div > select {
  font-weight: 700;
  width: 90%;
  min-width: 200px;
  max-width: 250px;
  border-radius: 10px;
  padding: 5px;
  background-color: none;
  border: none;
  outline: 1px solid lightslategray ;
}

.password {
  margin-bottom: 15px;
}
.showhide{
  position:relative;
  width: 20px;
  height: 20px;
  margin-top: -29px;
  margin-left: 184px;
  font-size: 1.4rem;
  color: var(--icon);
}

.submit {
  cursor: pointer;
  width: 90%;
  max-width: 140px;
  margin: 5vh auto;
  height: 40px;
  box-shadow: 1px 3px 3px 4px #abcdef;
  background-color: var(--icon);
  color: var(--lightText);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: monospace;
  border-radius: 15px;
}

.submit:hover {
  cursor: pointer;
  opacity: 0.8;
}
