* {
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.page {
  width: 98%;
  margin: 0 auto;
  height: 80vh;
  border-radius: 50px;
  text-align: center;
  background-color: rgba(127, 255, 212, 0.473);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.page > div {
  width: 80%;
  height: 90%;
  border-radius: 50px;
  box-shadow: 5px 5px 5px 15px rgb(225, 228, 212);
  background-color: rgb(233, 235, 221);

  color:black;
}
.page > div > h1 {
  font-size: 3rem;
}
.page > div > p {
  font-size: 2rem;
}

.page>div>a{
   margin: 15px;
   text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
}
